source https://www.nuget.org/api/v2
framework: netcoreapp3.1
storage: none
nuget FSharp.Core
nuget Microsoft.Azure.WebJobs
nuget Microsoft.Azure.WebJobs.Extensions
nuget Microsoft.Azure.WebJobs.Extensions.Storage
nuget Microsoft.Azure.WebJobs.Host.Storage
nuget Microsoft.Azure.WebJobs.Logging
nuget Microsoft.Azure.WebJobs.Logging.ApplicationInsights
nuget Microsoft.Extensions.Logging.Console
nuget System.Configuration.ConfigurationManager
